.wrapper {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
}

header {
  margin: 20px 0 0 4rem;
}

form {
  grid-column: 1;
  grid-row: 2;
  margin-left: 4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

fieldset {
  border: 0;
  grid-column: 1;
}

legend {
  margin-bottom: 2rem;
}

input {
  width: 300px;
  padding: 0.5rem;
}

#text-input {
  width: 480px;
}

button {
  padding: 1rem 2rem;
  background-color: rgb(117, 161, 117);
  margin: 2rem 24rem;
  cursor: pointer;
  border-radius: 50%;
}
/* Button from source: https://www.bestcssbuttongenerator.com/#/7 */
button {
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

button:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
button:active {
  position: relative;
  top: 1px;
}

.previous-posts {
  grid-column: 2;
  grid-row: 1 / 2;
}

.previous-posts h2 {
  margin-top: 4.5rem;
}

.post {
  border: 2px #2dabf9 solid;
  border-radius: 25px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.name-output {
  font-weight: bold;
}
