.wrapper {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p label {
  padding: 0 0.5rem;
}

header {
  margin-top: 70px;
}

form {
  margin-top: 30px;
}

#name {
  width: 300px;
  padding: 0.5rem;
}

#text {
  width: 480px;
}

button {
  padding: 1rem 2rem;
  background-color: rgb(117, 161, 117);
  margin: 2rem 27rem;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: rgb(48, 83, 70);
}
